<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!-- VO객체 별칭 지정 -->
    <typeAliases>
        <typeAlias type="spring.mvc.domain.MemberVO" alias="member"/>
        <typeAlias type="spring.mvc.domain.AdminVO" alias="admin"/>
        <typeAlias type="spring.mvc.domain.ProductVO" alias="product"/>
        <typeAlias type="spring.mvc.domain.ProductImageVO" alias="product_img"/>
        <typeAlias type="spring.mvc.domain.ProductStockVO" alias="product_stock"/>

    </typeAliases>
    <!-- 오라클에서 Long타입 가져오기 위한 핸들러 -->
    <typeHandlers>
        <typeHandler handler="spring.mvc.controller.CLOBHandler" javaType="String" jdbcType="LONGVARCHAR"/>
    </typeHandlers>

</configuration>

