<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dashBoard">

 	<!-- morris -->
 	
 	<!-- 일별 매출 기간 조정 -->
	<select id="dailySalesScale" resultType="dash" parameterType='dash'>
		<![CDATA[
        SELECT d.o_date o_date, p.sales
        FROM ( SELECT TO_CHAR((TO_DATE('20201201','YYYY-MM-DD') + LEVEL - 1),'YYYY-MM-DD') AS o_date
        FROM dual 
        CONNECT BY LEVEL <= (TO_DATE(sysdate)- TO_DATE('2020-12-01','YYYY-MM-DD') + 1)) d
        LEFT OUTER JOIN (SELECT TO_CHAR(o_date,'YYYY-MM-DD') o_date, SUM(p_price*p_count) sales
        FROM porder_list
        GROUP BY TO_CHAR(o_date,'YYYY-MM-DD')) p
        ON d.o_date=p.o_date
        ]]>   
        
        <choose>
        	<when test="startDate!=null">
        		WHERE d.o_date BETWEEN #{startDate} AND #{endDate}        	
        	</when>
        	<otherwise>
 		       WHERE d.o_date BETWEEN TO_CHAR(ADD_MONTHS(sysdate,-1),'YYYY-MM-DD') AND TO_CHAR(sysdate,'YYYY-MM-DD')
        	</otherwise>
        </choose>
        
		ORDER BY o_date
	</select>
 	
 	
 	
 	<!-- 카테고리별 매출 -->
	<select id="cateSales" resultType="dash" parameterType='dash'>
		<![CDATA[
		SELECT d.o_date, d.p_cate, p.sales
        FROM ( SELECT *
        FROM category,( SELECT TO_CHAR((TO_DATE('2020-12-01','YYYY-MM-DD') + LEVEL - 1),'YYYY-MM-DD') AS o_date
        FROM dual 
        CONNECT BY LEVEL <= (TO_DATE(sysdate)- TO_DATE('2020-12-01','YYYY-MM-DD') + 1)
        )) d
        LEFT OUTER JOIN ( SELECT TO_CHAR((o.o_date),'YYYY-MM-DD') o_date, p.p_cate, SUM(o.p_count*o.p_price) sales
        FROM porder_list o
        INNER JOIN product p
        ON o.p_id = p.p_id
        GROUP BY p.p_cate, TO_CHAR((o.o_date),'YYYY-MM-DD')) p
        ON d.o_date=p.o_date AND d.p_cate = p.p_cate
        ]]>   
        
        <choose>
        	<when test="startDate!=null">
        		WHERE d.o_date BETWEEN #{startDate} AND #{endDate}        	
        	</when>
        	<otherwise>
 		       WHERE d.o_date BETWEEN TO_CHAR(ADD_MONTHS(sysdate,-1),'YYYY-MM-DD') AND TO_CHAR(sysdate,'YYYY-MM-DD')
        	</otherwise>
        </choose>
        
        ORDER BY d.o_date,d.p_cate
	

	</select>
 	
 	
 	
 	<!-- 시간대별 매출 -->
	<select id="hourlySales" resultType="dash" parameterType='dash'>
        
        SELECT  t.time, p.sales
        FROM(SELECT TO_CHAR(o_date,'HH24') time, SUM(p_price*p_count) sales
		FROM porder_list
		
         <choose>
        	<when test="startDate!=null">
        		WHERE o_date BETWEEN #{startDate} AND #{endDate}        	
        	</when>
        	<otherwise>
 		       WHERE o_date BETWEEN TO_CHAR(ADD_MONTHS(sysdate,-1),'YYYY-MM-DD') AND TO_CHAR(sysdate,'YYYY-MM-DD')
        	</otherwise>
        </choose>
        
        
        GROUP BY TO_CHAR(o_date,'HH24')) p
        RIGHT OUTER JOIN(SELECT TO_CHAR(LEVEL,'FM09') AS TIME
        FROM dual
        <![CDATA[
        CONNECT BY LEVEL <=24) t
        ON t.time=p.time
        ORDER BY t.time
      	]]>
	</select>




    <!-- index -->
    
    
      <!-- 가장 많이 팔린 상품 4개 -->
    <select id="topItems" resultType="dash">
    <![CDATA[
    SELECT p.p_id, p.sales, ceil(p.period/7) period, i.i_fname, p.p_name,  p.p_cate, p.p_price
    FROM (SELECT *
    FROM (SELECT rownum, p_id, sales, period, p_name ,p_cate, p_price
    FROM( SELECT o.p_id, o.sales, ceil(sysdate -p.p_date) period, p.p_name, p.p_cate, p.p_price
    FROM (SELECT p_id, SUM(p_count*p_price) sales
    FROM porder_list
    GROUP BY p_id) o
    INNER JOIN product p
    ON p.p_id =o.p_id
    ORDER BY sales DESC))
    WHERE rownum <5) p
    INNER JOIN product_image i
    ON p.p_id = i.p_id
    ORDER BY sales DESC
  	]]>
     </select>  
     

        <!-- 일별 매출 -->
    <select id="dailySales" resultType="dash">
      	SELECT TO_CHAR(o_date,'YYYYMMDD') o_date, NVL(SUM(p_count*p_price),0) sales
		FROM porder_list
		WHERE TO_CHAR(o_date,'YYYYMMDD')>TO_CHAR(sysdate,'YYYYMMDD')-7
		GROUP BY TO_CHAR(o_date,'YYYYMMDD')
		ORDER BY o_date
                        
    </select>
    
    
    
     	<!-- 나라별 매출 및 비중 -->
    <select id="countrySales" resultType="dash">
   		SELECT  o.m_country m_country,SUM(o.p_count*o.p_price) sales, SUM(o.p_count*o.p_price)/(SELECT SUM(p_count*p_price) FROM porder_list)*100 ratio
     	FROM (SELECT*
     	FROM porder_list p
      	INNER JOIN member m
     	ON p.m_code = m.m_code)o
     	WHERE TO_CHAR(o.o_date,'YYYYMM')=TO_CHAR(sysdate,'YYYYMM')
     	GROUP BY o.m_country
     	ORDER BY ratio DESC  
     	     
                        
    </select>
    
    
    
    
    	<!-- 월별 매출 -->
    <select id="monthlySales" resultType="dash">
      	SELECT TO_CHAR(o_date,'YYYYMM') o_date, NVL(SUM(p_count*p_price),0) sales
		FROM porder_list
		WHERE TO_CHAR(o_date,'YYYYMM')>TO_CHAR(sysdate,'YYYYMM')-5
		GROUP BY TO_CHAR(o_date,'YYYYMM')
		ORDER BY o_date
                        
    </select>
    
    
    
    	<!-- 구매 루트 확인 -->
    <select id="SalesRoot" resultType="dash">
    	SELECT LOWER(p_root) p_root, NVL(SUM(p_count*p_price),0) sales
		FROM porder_list
		WHERE TO_CHAR(o_date,'YYYYMM')=TO_CHAR(sysdate,'YYYYMM')
		GROUP BY p_root
		ORDER BY p_root
                        
    </select>
    
       
	<!-- 이번달 매출 -->
    <select id="MonthSale" resultType="dash">
      	SELECT NVL(SUM(p_count*p_price),0) sales
		FROM porder_list
		WHERE TO_CHAR(o_date,'YYYYMM')=TO_CHAR(sysdate,'YYYYMM')
                        
    </select>
    
    <!-- 지난달 오늘 날짜 까지 매출 -->
     <select id="lastMonthSale" resultType="dash">
      	SELECT NVL(SUM(p_count*p_price),0) sales
		FROM porder_list
		WHERE TO_CHAR(o_date,'YYYYMMDD')=TO_CHAR(ADD_MONTHS(SYSDATE,-1),'YYYYMMDD')
                        
    </select>
    
    	<!-- 이번달 신규 가입 유저 -->
    <select id="newMember" resultType="dash">
 		SELECT count(m_code) count
		FROM member
		WHERE TO_CHAR(m_date,'YYYYMM')=TO_CHAR(sysdate,'YYYYMM')
                        
    </select>
    
     	<!-- 지난달 오늘까지 신규 가입 유저 -->
    <select id="lastMonthNewMember" resultType="dash">
 		SELECT count(m_code) count
		FROM member
		WHERE TO_CHAR(m_date,'YYYYMMDD')=TO_CHAR(ADD_MONTHS(SYSDATE,-1),'YYYYMMDD')
                        
                        
    </select>
    
    
    	<!-- 이번달 신규 상품 -->
    <select id="newProduct" resultType="dash">
  		SELECT count(p_id) count
		FROM product
		WHERE TO_CHAR(p_date,'YYYYMM')=TO_CHAR(sysdate,'YYYYMM')
                        
    </select>
    
    	<!-- 이번달 상품 판매 갯수 -->
    <select id="salesProduct" resultType="dash">
      	SELECT NVL(SUM(p_count),0) count
		FROM porder_list
		WHERE TO_CHAR(o_date,'YYYYMM')=TO_CHAR(sysdate,'YYYYMM')
                        
    </select>
    
    	<!-- 지난달 오늘까지 상품 판매 갯수 -->
    	
    	  <select id="lastMonthsalesProduct" resultType="dash">
      	SELECT NVL(SUM(p_count),0) count
		FROM porder_list
		WHERE TO_CHAR(o_date,'YYYYMM')=TO_CHAR(ADD_MONTHS(SYSDATE,-1),'YYYYMMDD')
                        
    </select>
    	

</mapper>