<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="order">
	<!-- 장바구니 품목 담아오기 -->
	<select id="cartList" parameterType="member" resultType="order_list">
   			 SELECT p.p_name, c.p_count, c.p_count*c.p_price p_price
   			 FROM cart c
   			 INNER JOIN product p
   			 ON c.p_id=p.p_id
   			 WHERE  c.M_CODE = #{m_Code}
	</select>


	<!-- 기등록된 주소가 있으면 찾아온다 -->
	<select id="searchAddr" parameterType="member" resultType="porder_addr">
		    SELECT*
   			FROM porder_addr
   			WHERE  M_CODE = #{m_Code}
	</select>
		
		

    <select id="getOrderList" resultType="java.util.HashMap">
        select PI.O_ID, PI.PA_CODE, PI.M_CODE, PI.OD_ID, PI.O_DATE,
             PI.O_STATUS, PA.O_ADDR , PA.O_NAME , PA.O_Tel
                , P.P_ID , P.P_NAME , PA.O_POST
            FROM PORDER_INFO PI, PORDER_ADDR PA, PRODUCT P
        WHERE PI.PA_CODE = PA.PA_CODE AND P.P_ID = PI.P_ID

    </select>

    <update id="updateOrderListStatus" parameterType="java.util.List">
        <foreach collection="list" item="item"  separator=";">
        UPDATE PORDER_INFO
            SET O_STATUS = #{item.o_Status}
            WHERE O_ID = #{item.o_Id}
        </foreach>
    </update>

    <select id="getCartList" parameterType="member" resultType="java.util.HashMap">
        select * from cart WHERE M_CODE = #{m_Code}
        ORDER BY P_ID
    </select>

    <delete id="deleteCartInfo" parameterType="product">
        DELETE FROM cart WHERE P_ID = #{p_Id}
    </delete>
</mapper>