<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">
    <!-- 여기를 완성 -->
    <insert id="insertProductVO" parameterType="product">
        INSERT INTO product
        (p_id, p_cate, p_name, p_content, p_price, p_date)VALUES
        (seq_product_p_Id.NEXTVAL, #{p_Cate}, #{p_Name}, #{p_Content}, #{p_Price}, sysdate)
</insert>
    <insert id="insertProductIMG" parameterType="product_img">
        INSERT INTO product_image(p_id, i_ip, i_fname, i_fsize)
        VALUES(#{p_Id}, #{i_Ip}, #{i_Fname}, #{i_Fsize})
    </insert>
    <select id="selectSequence"  resultType="product">
        SELECT P_Id FROM product WHERE ROWNUM = 1 ORDER BY P_ID desc
    </select>

    <update id="updateContent" parameterType="product">
        UPDATE product SET p_content = #{p_Content} WHERE p_id = #{p_Id}
    </update>

    <insert id="insertProductStockVO" parameterType="product_stock">
        INSERT INTO PRODUCT_STOCK (P_ID, P_SIZE, P_COLOR, P_COUNT)
        VALUES (#{p_Id}, #{p_Size}, #{p_Color}, #{p_Count})
    </insert>

    <select id="getProductList" resultType="product">
        SELECT * FROM product
    </select>

    <delete id="deleteProductStockList" parameterType="java.util.List">
        DELETE FROM PRODUCT_STOCK
        <where>
            <foreach collection="list" item="item" open="" close="" separator="OR">
                (p_id = #{item.p_Id})
            </foreach>
        </where>
    </delete>

    <delete id="deleteProductImageList" parameterType="java.util.List">
        DELETE FROM PRODUCT_IMAGE
        <where>
            <foreach collection="list" item="item" open="" close="" separator="OR">
                (p_id = #{item.p_Id})
            </foreach>
        </where>
    </delete>

    <delete id="deleteProductList" parameterType="java.util.List">
        DELETE FROM PRODUCT
        <where>
            <foreach collection="list" item="item" open="" close="" separator="OR">
                (p_id = #{item.p_Id})
            </foreach>
        </where>
    </delete>

    <select id="selectProductIDInfo"  parameterType="product" resultType="product">
        SELECT * FROM PRODUCT WHERE P_ID = #{p_Id}
    </select>

    <select id="selectProductImageIDInfo"  parameterType="product" resultType="product_img">
        SELECT * FROM PRODUCT_IMAGE WHERE P_ID = #{p_Id}
    </select>

    <select id="selectProductStockIDInfo"  parameterType="product" resultType="product_stock">
        SELECT * FROM PRODUCT_STOCK WHERE P_ID = #{p_Id}
    </select>
</mapper>