@charset "UTF-8";


/*******************************

	shop 추가 css

********************************/

.shop__sidebar__brand ul li input:hover,
.shop__sidebar__brand ul li a:hover,
.shop__sidebar__price ul li label,
.shop__sidebar__categories ul li label{
	cursor: pointer;
}

.shop__sidebar__color label {
	border: 1px solid black;
}

.none_search {
	margin: 0 auto; 
}





/*******************************

	shop-details 추가 css

********************************/
.model{
    text-align: center;
    }
    .model_title{
    font-weight: 500;
    }

.model_profile p a{
	font-weight: bold;
}



/*******************************

	checkout 추가 css

********************************/


.here{
	color: blue;
	text-decoration: underline;
}

#sample4_postcode, #sample4_postcode + input{
	height: 50px;
	width: 25%;
	border: 1px solid #e1e1e1;
	font-size: 14px;
/* 	color: #b7b7b7; */
	padding-left: 20px;
	margin-bottom: 20px;
}

#sample4_roadAddress, #sample4_jibunAddress{
	height: 50px;
	width: 49%;
	border: 1px solid #e1e1e1;
	font-size: 14px;
/* 	color: #b7b7b7; */
	padding-left: 20px;
	margin-bottom: 20px;
}

#sample4_detailAddress{
	height: 50px;
	width: 100%;
	border: 1px solid #e1e1e1;
	font-size: 14px;
/* 	color: #b7b7b7; */
	padding-left: 20px;
	margin-bottom: 20px;
}