@charset "UTF-8";


/*******************************

	shop 추가 css

********************************/

.shop__sidebar__brand ul li input:hover,
.shop__sidebar__brand ul li a:hover{
	cursor: pointer;
}





/*******************************

	shop-details 추가 css

********************************/
.model{
    text-align: center;
    }
    .model_title{
    font-weight: 500;
    }




    
    